PYTHONDONTWRITEBYTECODE=1

SQLITE_NAME="allocations"

POSTGRES_USER="allocations"
POSTGRES_PASSWORD="abc123"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="allocations"

FLASK_DEBUG=true
FLASK_APP="allocations.entrypoints.flask_app:init_flask"
